__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.env
*.log
*.pot
*.pyc
db.sqlite3
/staticfiles/
/media/
.DS_Store
*.swp
node_modules/
dist/
.pytest_cache/
celerybeat-schedule
celerybeat.pid

*.bak
*.bak_*
backups/
token.txt*
*.save
.env.bak*
